
.cta {
    width: 225px;
    height: 60px;
    color: white;
    background: linear-gradient(180deg, #2958A5 0%, #622A6E 100%);
    border-radius: 60px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        transform: scale(1.02);
        cursor: pointer;
    }
    
    a {
        color: #fff;
        font-weight: 700;
        font-family: inherit;
        line-height: 20px;
        font-size: 18px;
        text-decoration: none;
    }
}

.cards {
    display: flex;
    justify-content: space-evenly;
    position: relative;


    .card {
        width: 30%;
        height: 475px;
        padding: 15px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transition: 1s;
        

        &:hover {
            box-shadow: 2px 3px 10px 5px rgba(114, 114, 114, 0.329);
            transform: translateY(-10%);

            .card-head {
                h3 {
                    transform: translateX(30%);
                }
                .img{
                    transform: translateX(10%);
                }
            }
        }

        &-head {
            position: relative;
            
            h3 {
                transform: translateX(43%);
                position: relative;
                top: 20px;
                font-size: 30px;
                transition: 1.5s;
            }
            .img {
                position: absolute;
                left: 20%;
                transition: 1.5s;
            }
        }
        p {
            padding: 0 50px;
            font-family: $secondary-font;
        }

        &:nth-of-type(2) {
            transform: translateY(10%);
            &:hover {
                transform: translateY(0%);
            }
        }

        &:nth-of-type(3) {
            transform: translateY(20%);
            &:hover {
                transform: translateY(10%);
            }
        }
    }
}

.learn-more {
    width: 267px;
    height: 72px;
    border-radius: 60px;
    border: 2px solid #fff;

    transition: 100ms;

    a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        // background-color: red;
        color: #fff;
        font-family: $secondary-font;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-decoration: none;

    }


    &:hover {
        transform: scale(.98);
        cursor: pointer;
        background-color: #fff;
        color: $color-primary;

        a {
            color: $color-primary;
        }
    }
    
    
}

.grad {
    width: 250px;
    height: 63px;
    border-radius: 60px;
    border: 2px solid $color-primary;
    color: $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 400ms;


    &:hover {
        transform: scale(.95);
        color: #fff;
        border: 0;
        border: 2px solid $color-primary;
        background: $color-primary;

        a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            // line-height: 28px;
        }
    }
    
    a {

        color: inherit;
        font-family: $secondary-font;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        text-decoration: none;
        transition: 300ms;

    }
}


.action-btn {
    width: 329px;
    height: 63px;
    // padding: 17px 10px;
    border-radius: 60px;
    border: 2px solid $color-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-primary;
    transition: 500ms;

    &:hover {
        // transform: scale(.95);
        color: #fff;
        // border: 0;
        background: $color-primary
    }
    
    a {
        color: inherit;
        font-family: $secondary-font;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-decoration: none;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            .action-btn {
                transform: scale(.95);
                color: #fff;
                border: 0;
                background: linear-gradient(180deg, #2958A5 0%, #622A6E 100%);
            }
        }
    }
}

// .dropdown-menu {
//     box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
//     position: absolute;
//     background-color: rgb(201, 78, 78);
//     top: 0;
//     right: 0vw;
//     z-index: 10;
//     height: 394px;
//     width: 375px;
//     // background-color: pink;
//     padding: 0 20px;
//     display: flex;
//     align-items: flex-end;
//     flex-direction: column;  
//     justify-content: space-between;
//     padding-bottom: 20px;
//     // transition: 3s;
//     animation: dropdown 500ms linear;

//     .menu-head {
//         // background-color: red;
//         height: auto;
//         width: 100%;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;

//         .brand {
//             width: 142px;
//         }

//         .menu-hide {
//             width: 16px;
//             height: 16px;
//             background-color: #fff;
//         }
//     }
//     .dropdown-links {
//         background-color: yellow;
//         display: flex;
//         height: 217px;
//         width: 50%;
//         justify-content: space-evenly;
//         flex-direction: column;
//     }
// }

@media screen and (max-width: 375px) {
    .action-btn {
        width: 202px;
        height: 39px;
        // padding: 17px 10px;
        border-radius: 60px;
        border: 2px solid $color-primary;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-primary;
        transition: 500ms;
    
        &:hover {
            transform: scale(.95);
            color: #fff;
            border: 0;
            background: linear-gradient(180deg, #2958A5 0%, #622A6E 100%);
        }
        
        a {
            color: inherit;
            font-family: $secondary-font;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            text-decoration: none;
    
            &:hover {
                .action-btn {
                    transform: scale(.95);
                    color: #fff;
                    border: 0;
                    background: linear-gradient(180deg, #2958A5 0%, #622A6E 100%);
                }
            }
        }
    }

    .grad {
        width: 202px;
        height: 43px;
        
        // a {
        //     // all: inherit;
        // }
        // border-radius: 60px;
        // border: 2px solid $color-primary;
        // color: $color-primary;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        // transition: 400ms;
    
    
        &:hover {
            transform: scale(.95);
            color: #fff;
            border: 0;
            // border: 2px solid $color-primary;
            // background: linear-gradient(180deg, #2958A5 0%, #622A6E 100%);
    
            a {
                font-size: 14px;
                // line-height: 28px;
            }
        }
        
        a {

            font-size: 13px;
            line-height: 16px;
    
        }
    }

    .cards {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: relative;
        // background-color: pink;
        width: 100%;
        height: 100%;
    
    
        .card {
            width: 90%;
            height: auto;
            padding: 5px;
            border-radius: 15px;
            // box-shadow: 2px 3px 10px 5px rgba(114, 114, 114, 0.329);
            // background-color: red;
            margin: 10px auto;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            transition: none !important;
            
    
            &:hover {
                transform: translateY(0) ;
    
                .card-head {
                    h3 {
                        transform: translateX(0);
                    }
                    .img{
                        transform: translateX(0);
                        
                    }
                }
            }
    
            &-head {
                position: relative;
                
                h3 {
                    transform: translateX(0)!important;
                    position: static;
                    top: 0px;
                    font-size: 16px;
                    line-height: 24px;
                    transition: none !important;
                }
                .img {
                    display: none !important;
                }
            }
            p { 
                line-height: 23px;
                font-size: 14px;
                text-align: center;
            }
    
            &:nth-of-type(2) {
                transform: translateY(0) ;
                &:hover {
                    transform: translateY(0);
                }
            }
    
            &:nth-of-type(3) {
                transform: translateY(0);
                &:hover {
                    transform: translateY(0);
                }
            }
        }
    }

    

    .dropdown-menu {
        display: block !important;
        box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
        position: absolute;
        background-color: rgb(255, 255, 255);
        top: 0;
        right: 0vw;
        z-index: 10;
        height: 394px;
        width: 375px;
        
        padding: 0 20px;
        display: flex !important;
        align-items: flex-end !important;
        flex-direction: column !important;  
        justify-content: space-evenly !important;
        padding-bottom: 20px;
        transform: translateX(-110%);
        

        .menu-head {
            
            height: auto;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .brand {
                width: 142px;
            }

            .menu-hide {
                width: 16px;
                height: 16px;
                background-color: #fff;
            }
        }
        .dropdown-links {
            // display: block !important;
            
            display: flex !important;
            height: 217px;
            width: 50%;
            align-items: flex-end;
            justify-content: space-evenly;
            flex-direction: column;
        }

        .grad {
            width: 152px !important;
            height: 38px !important;
            background-color: #fff;
            display: block !important;
            display: flex !important;
            justify-content: center !important;
            align-items: center !important;
        }
    }

    .invisible {
        // visibility: hidden !important;
        animation: liftup 300ms linear;
    }

    .visible {
        // visibility: hidden !important;
        animation: dropdown 300ms linear forwards;
    }

    
}